The following exercises use 2019 flight statistics from the United States Department of Transportationâ€™s Bureau of Transportation Statistics (available [here](https://www.transtats.bts.gov/DL_SelectFields.asp?gnoyr_VQ=FMF&QO_fu146_anzr=Nv4%20Pn44vr45) and in this repository as `data/T100_MARKET_ALL_CARRIER.zip`). Each row contains information about a specific route for a given carrier in a given month (e.g., JFK &rarr; LAX on Delta Airlines in January). There are 321,409 rows and 41 columns. Note that you don't need to unzip the file to read it in with `pd.read_csv()`.

This continues last week's exercises.

#### __Exercise 8__:

Find the top 5 carriers for median route distance (i.e., for all origin-destination pairs that each carrier has, find the median distance after removing duplicates).

In [22]:
import pandas as pd
df = pd.read_csv('/workspaces/student-lecture-materials-elizane7/4-week4/data/T100_MARKET_ALL_CARRIER.zip')
df_unique = df[['UNIQUE_CARRIER_NAME','ORIGIN','DISTANCE','DEST']].drop_duplicates()
carrier_median = df_unique.groupby('UNIQUE_CARRIER_NAME')['DISTANCE'].median().nlargest(5)
carrier_median

UNIQUE_CARRIER_NAME
Singapore Airlines Ltd.                                       8068.0
Cathay Pacific Airways Ltd.                                   8020.0
Qantas Airways Ltd.                                           7886.0
Longtail Aviation Ltd.                                        7855.5
National Aviation Company of India Limited d/b/a Air India    7798.0
Name: DISTANCE, dtype: float64

#### __Exercise 9:__ 
Find the total cargo transported (mail + freight) and mean distance traveled for the 10 carriers that transported the most cargo.

In [ ]:
#df.columns
#df.info()

df_1 = df[['MAIL','FREIGHT','DISTANCE', 'UNIQUE_CARRIER_NAME']]
df_totalcargo = df_1
df_totalcargo['CARGO'] = df_1['MAIL'] + df_1['FREIGHT']
#df_top10 = df_totalcargo.groupby('UNIQUE_CARRIER_NAME')['DISTANCE'].mean()
#df_top10
#almost correct but need to keep total cargo column and sort by largest cargo, not largest mean

/tmp/ipykernel_15961/1158937912.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_totalcargo['CARGO'] = df_1['MAIL'] + df_1['FREIGHT']

UNIQUE_CARRIER_NAME
40-Mile Air                                125.598425
ABC Aerolineas SA de CV dba Interjet      1308.533469
ABS JETS A.S                              2978.419355
ABSA-Aerolinhas Brasileiras               3342.157407
ABX Air Inc                               1078.459433
                                             ...
Wright Air Service                         153.363426
XL Airways France                         4580.142857
Xiamen Airlines Co., Ltd.                 6905.000000
Xtra Airlines  dba  Avelo Airlines         618.092105
Yangtze River Express Airlines Company    7058.000000
Name: DISTANCE, Length: 318, dtype: float64

In [24]:
df.assign(CARGO=lambda x: x.MAIL + x.FREIGHT)\
    .groupby("UNIQUE_CARRIER_NAME")[['CARGO','DISTANCE']].agg(dict(CARGO = 'sum', DISTANCE='mean')).nlargest(10,'CARGO')

                                    CARGO     DISTANCE
UNIQUE_CARRIER_NAME
Federal Express Corporation  1.270966e+10  1121.887981
United Parcel Service        9.173867e+09  1030.812650
Atlas Air Inc.               3.356847e+09  1900.987202
United Air Lines Inc.        1.577892e+09  1810.656058
American Airlines Inc.       1.353074e+09  1583.185048
Kalitta Air LLC              1.272180e+09  2519.580343
Polar Air Cargo Airways      1.199386e+09  3111.794118
Delta Air Lines Inc.         1.129524e+09  1612.688752
China Airlines Ltd.          8.370799e+08  5828.277778
Cathay Pacific Airways Ltd.  7.741777e+08  7498.685315

#### __Exercise 10__:

Which 10 carriers flew the most passengers out of the United States to another country?

In [28]:
#df_outof_us = df[(df.ORIGIN_COUNTRY_NAME=="United States") & (df.DEST_COUNTRY_NAME != "United States")]
top_10_passengers = df\
    .query('ORIGIN_COUNTRY_NAME == "United States" and DEST_COUNTRY_NAME != "United States" ')\
    .groupby("UNIQUE_CARRIER_NAME").PASSENGERS.sum().nlargest(10)

top_10_passengers

UNIQUE_CARRIER_NAME
American Airlines Inc.       14867653.0
United Air Lines Inc.        14427923.0
Delta Air Lines Inc.         13054230.0
JetBlue Airways               4522492.0
British Airways Plc           3758945.0
Lufthansa German Airlines     3123611.0
Westjet                       2626600.0
Air Canada                    2540855.0
Southwest Airlines Co.        2146960.0
Virgin Atlantic Airways       2074735.0
Name: PASSENGERS, dtype: float64